---
import Layout from '../layouts/Main.astro';
---

<Layout title="Contact">
    <h1>Get in Touch</h1>
    <p>Interested in collaborating on a project, discussing new opportunities, or just connecting? I'd love to hear from you.</p>
    <p>Feel free to reach out via email.</p>
</Layout>
