---
import Layout from '../layouts/main.astro'
import SkillCard from '../components/SkillCard.astro'
import BlogCard from '../components/BlogCard.astro'
---

<Layout title="George Smith - Blog & Portfolio">
    <header>
        <hgroup>
            <h1 class="text-2xl font-extrabold">George Smith</h1>
            <p>Crafting blazingly-fast software with passion and precision</p>
        </hgroup>
        <a href="/blog">Blog</a>
        <a href="#about-section">Learn More</a>
    </header>
    <section id="about-section">
        <h2>About</h2>
        <p>I am an enthusiastic full-stack senior software engineer with over six years of commercial experience, specialising in C#, .NET, and scalable systems.</p>
    </section>
    <section>
        <h3>Principals</h3>
        <ul>
            <li>Keep it simple</li>
            <li>Write for the machine, name for the human</li>
            <li>You can learn anything with time and dedication</li>
        </ul>
    </section>
    <section>
        <h3>Tech Stack</h3>
        <div>
            <SkillCard skill=".NET" src="/NET.svg" />
            <SkillCard skill="Rust" src="/rust-logo-blk.svg" />
            <SkillCard skill="Go" src="/Go-Logo_Blue.svg" />
            <SkillCard skill="Blazor" src="/Blazor.svg" />
            <SkillCard skill="Vue.js" src="/Vue.js.svg" />
            <SkillCard skill="SQL Server" src="/Microsoft SQL Server.svg" />
            <SkillCard skill="Azure" src="/Azure.svg" />
            <SkillCard skill="Docker" src="/docker-mark-blue.svg" />
            <SkillCard skill="OAuth2" src="/oauth.svg" />
            <SkillCard skill="RabbitMQ" src="/rabbitmq.svg" />
            <SkillCard skill="Astro" src="/Astro.svg" />
        </div>
    </section>
    <section>
        <h2>Blog</h2>
        <BlogCard title="You're not my type" tagline="Communicating through the type system" />
        <BlogCard title="Wolf in sheep's clothing" tagline="Performace problems hiding behind interfaces" />
        <BlogCard title="Who turned the lights off?" tagline="Light vs dark themes" />
    </section>
</Layout>
