---
const {title} = Astro.props;
---
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="George Smith is an experienced software engineer. This is his blog and portfolio." />
        <meta name="keywords" content="web development, blog, portfolio" />
        <title>{title}</title>
	</head>
	<body>
        <nav>
            <p>George Smith</p>
            <a href="/" title="Home page">Home</a>
            <a href="/blog" title="All blog posts">Blog</a>
            <a href="/contact" title="Contact details">Contact</a>
        </nav>
        <slot />
        <footer>
            <a href="https://github.com/georgepetersmith" title="GitHub" target="_blank">
                <img src="/github-mark.svg" alt="GitHub" width="50px" height="50px" />
            </a>
            <a href="https://www.linkedin.com/in/george-smith-912824137" title="LinkedIn" target="_blank">
                <img src="/linkedin.svg" alt="LinkedIn" width="50px" height="50px" />
            </a>
        </footer>
	</body>
</html>
