---
import Head from '../components/Head.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

interface Props {
    title: string;
}

const {title} = Astro.props as Props;
---

<html lang="en-GB">
    <Head />
    <body>
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
